{mod_cond, all}.
{sub_dirs, [
    "rel",
    "src"
]}.
{plugins, [
    {relflow, ".*", {git, "https://github.com/RJ/relflow.git", {branch, "master"}}}
]}.
{lib_dirs,
    [
        "deps",
        "apps"
    ]
}.
{deps, [
    {jsx, "2.8.0", {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {epgsql, "3.2.0", {git, "git://github.com/epgsql/epgsql.git", {tag, "3.2.0"}}},
    {lager, "3.2.0", {git, "https://github.com/basho/lager.git", {tag, "3.2.0"}}},
    {erlang_protobuffs, "0.9.0", {git, "https://github.com/basho/erlang_protobuffs.git", {tag, "0.9.0"}}},
    {pgapp, ".*", {git, "https://github.com/epgsql/pgapp.git", {ref, "7183895ba8a30a8707ee5b197e64e24f1870a2d9"}}}
]}.
{relx, [
    {release, {mbta,
    "20160514.051731" %% relflow-release-version-marker
        },
        [sasl, mbta]},
        {dev_mode, false},
        {include_erts, true},
        {overlay, [
            {template, "files/app.config", "releases/\{\{rel_vsn\}\}/sys.config"}
        ]},
        {extended_start_script, true}]}.
{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, false}]}]
            }]
}.
